[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
WorkingDirectory=/var/lib/kube-proxy
EnvironmentFile=/etc/kubernetes/conf/common.conf
ExecStart=/usr/bin/kube-proxy \
  --bind-address=${KUBE_NODE_IP} \
  --hostname-override=${KUBE_NODE_NAME} \
  --cluster-cidr=${KUBE_SERVICE_CIDR} \
  --kubeconfig=/etc/kubernetes/kube-proxy.kubeconfig \
  --logtostderr=true \
  --v=2
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
